services:
  mongo:
    image: mongo:6
    container_name: mongodb
    restart: always
    env_file:
      - .env
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db

volumes:
  mongo_data:
    